

body {
    box-sizing: border-box;
    background-color: #006a4c;
    margin: 0 auto;
    padding: 20px;
}

input[type=file] {

    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999999;
    cursor: pointer;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.dropTarget {
    position: relative;
    border: 3px dashed silver;
    flex-basis: auto;
    flex-grow: 20;
    height: 200px;
}

.dropTarget::before {
    content: 'Drop files here';
    color: silver;
    font-size: 5vh;
    height: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    pointer-events: none;
    user-select: none;
}

.dropTarget:hover {
    cursor: pointer;
    background-color: #efefef;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    row-gap: 15px;
    border-radius: 7px;
    min-height: 300px;
    max-width: 800px;
    min-width: 340px;
    margin: 2% auto;
    padding: 15px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.download {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    background-color: #000;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.download:hover {
    filter: invert(1);
}


select {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}