* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(../images/bg3.png);
    margin: 0 auto;
    padding: 20px;
    max-width: 100vw;
}

img {
    max-height: 100%;
    max-width: 100%;
}



.wrapper {
    min-height: 100vh;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 15% auto 1fr;

}

.converter {
    grid-row: 2;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0 0 5px #000000;
}

.convert-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    row-gap: 15px;
    min-height: 300px;
    margin: 4% auto;
    padding: 15px;
    background-color: rgba(53, 101, 133, 0.6);
    backdrop-filter: blur(10px);
}

input[type=file] {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    cursor: pointer;
}

.dropTarget {
    position: relative;
    border: 2px dashed #ffffff;
    flex-basis: auto;
    flex-grow: 20;
    height: 200px;

    &::before {
        content: 'Drop files here';
        color: #ffffff;
        font-size: 5vh;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        pointer-events: none;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(53, 101, 133, 0.6);
    }
}


.download {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    background-color: rgb(16, 103, 160);
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;

    &:hover {
        background-color: rgb(11 70 110);
    }
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    p {
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
    }
}

select {
    padding: 10px;
    font-size: 16px;
    border-color: transparent;
    border-right: 5px solid transparent;
    cursor: pointer;
    background-color: #4ebc97;
    color: #fff;
    font-weight: 700;
    font-size: 15px;

    &:focus {
        outline: 0;
    }
}


option {
    border: none;
}


/* previews */
.previews {
    background-color: rgba(53, 101, 133, 0.6);
    backdrop-filter: blur(10px);
    width: 100%;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    margin-bottom: 50px;

    &__top {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        p {
            color: #ffffff;
            font-weight: 700;
            font-size: 15px;
        }
    }

    &__el {
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        overflow: hidden;
        padding: 10px 0;

        img {
            height: 100%;
            width: 65px;
            object-fit: cover;
            flex-shrink: 0;
        }

        a {
            display: block;
            text-decoration: none;
            height: 40px;
            width: 40px;
            background-color: rgb(16, 103, 160);
            background-image: url(../images/download-icon2.png);
            background-repeat: no-repeat;
            background-size: 30px auto;
            background-position: center;
            flex-shrink: 0;

            &:hover {
                background-color: rgb(11 70 110);
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;

        p {
            font-weight: 700;
            color: #ffffff;
            font-size: 14px;
            word-wrap: break-word;
            word-break: break-all;
            max-width: 100%;
            overflow: hidden;
            flex-shrink: 2;
        }
    }
}



.warning {
    display: none;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 51, 51);
    width: fit-content;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
}