* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(../images/bg3.png);
    margin: 0 auto;
    padding: 0 15px 20px 15px;
    max-width: 100vw;
}

img {
    max-height: 100%;
    max-width: 100%;
}



.wrapper {
    min-height: 100vh;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 19vh;
}

